body {
  transition: background-color 8s;
  color: #fff;
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

#header-wrapper{
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

#locations {
  text-align: center;
  border-style: solid;
}

h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}

h1 {
  font-size: 3.5em;
  text-shadow: 2px 2px #333333;
}

h2 {
  color: white;
  font-size: 2em;
  text-shadow: 1px 1px #333333;
}

.footer-bottom {
  color: #333333;
  font-size: 12px;
}
